header
  background: transparent 

  .navbar-default
    background: white
    border: 0
  .navbar
    margin-bottom: 0

.m-carousel-thumbnail
  position: relative
  &>img
    filter: brightness(0.8)
    -webkit-filter: brightness(0.8)

  .m-carousel-caption
    position: absolute
    top: 350px 
    left: 300px
    transform: translate(-50%, -50%)
    h4
      color: white
