//detail view main image full width
.thumbnail
  &>img
    width: 100%

.thumbnail-image-wrapper
  position: relative
  &>img
    width: 100%
  &>.thumbnail-image-label
    position: absolute
    padding: 5px
    bottom : 0
    right : 0

.label
  border-radius: 0
  @include moxie-font 

.m-thumbnail-title
  color: $primary-color

.thumbnail
  border-radius: 0
  padding: 0
  overflow: hidden
  .thumbnail-image-wrapper
    overflow: hidden
    &>img.detail-thumbnail
      transition: all 0.15s linear
  &:hover img.detail-thumbnail
    transform: scale(1.05)


//a tag wraps the whole thumbnail
a.thumbnail-wrapper
  text-decoration: none

//profile thumbnail
.thumbnail.profile
  border-radius: 0
  border: 0
  padding: 0
  overflow: hidden
  .thumbnail-image-wrapper
    overflow: hidden
    width: 75%
    margin: 0 auto
  .thumbnail-header
    margin-top: 15px
  .caption
    margin-top: 15px
    background: $secondary-color
    &>img.detail-thumbnail
      transition: all 0.15s linear

.thumbnail.detail
  border-radius: 0
  padding: 0
  overflow: hidden
  font-size: 12px
  .thumbnail-image-wrapper
    overflow: hidden
    &>img.detail-thumbnail
      transition: all 0.15s linear
  &:hover img.detail-thumbnail
    transform: scale(1.05)

.thumbnail.list
  font-size: 14px
  .basic-info
    min-height: 100px
  .user-info
    display: flex
    flex-wrap: nowrap
    align-items: center
    .thumbnail
      margin: 0
      border: 0
    .profile-image
      width: 25%
    .posted-by
      margin-left: 5px
      width: 75%
    img
      border: 0
      border-radius: 50%
  span.title
    font-weight: 600
    display: block
  span.posted-by
    font-size: 12px
    display: block
  .progress
    margin: 0
    height: 5px
  .basic-funding-info
    display: flex
    flex-wrap: nowrap
    justify-content: flex-start
    .current-funding-info, .current-funding-likes, .current-funding-timeleft
      margin-right: 5px
      display: flux
      flex-direction: column
      i
      span
