{% extends 'base.html' %}
{% block content %}
<section class="container-fluid">
    <div class="row">
        <ul id="scroller">
            {% for idea in ideas %}
            <li>
                <div class="m-carousel-thumbnail-wrapper">
                    <div class="m-carousel-thumbnail-hover">
                    </div>
                    <div class="m-carousel-caption">
                        <h5>
                            {{ idea.title }}
                        </h5>
                        <a href="{% url 'idea-detail' idea.custom_slug %}" class="btn btn-primary" role="button">
                            보러가기
                        </a>

                        
                    </div>
                    <div class="m-carousel-thumbnail">
                        <img src="{{ idea.thumbnail_image.url }}">
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>            
    </div>
</section>

<section class="container">
    <div class="row">
        <h3 class="m-header-text">
            아이디어를 세상과 공유하세요
        </h3>
    </div>
    
</section>

<script type="text/javascript">
(function($){
        $(function() { //on DOM ready 
            $("#scroller").simplyScroll();
        });
})(jQuery);
</script>

{% endblock %}
