@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css)
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css)
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700)
@import url(https://fonts.googleapis.com/css?family=Pacifico)
@import url(https://fonts.googleapis.com/css?family=Lora:400,700)

$font-family-sans-serif: 'Open Sans', 'Noto Sans KR', Helvetica, Arial, sans-serif !default
$font-family-serif: 'Lora', 'Nanum Myeongjo', Georgia, "Times New Roman", Times, serif !default
$font-size-base: 16px
$primary-color: #FF2A00
$primary-color: #2c3e50
$primary-color: #e67e22 
$primary-color: #16A085
$secondary-color: #212121
$secondary-color: #EEE
$bright-text: #eee 
$dark-text: #212121  
$primary-color: #2c3e50
$m-white: #EAEAEA
$primary-color:#28324E


