@import 'partials/variables'
@import 'partials/typography'
@import 'partials/layout'

.btn
  border-radius: 0

.btn-primary
  background: $primary-color
  border: 0
  &:hover
    background: darken($primary-color, 5%)
  &:active
    background: darken($primary-color, 5%)

.progress
  height: 5px
  border-radius: 0
  background: #EEEEEE 
  &.detail
    height: 7px

.progress-bar
  background: $primary-color

.thumbnail
  border-radius: 0
  padding: 0
