<footer>
    <div class="container">
        <div class="row">
            <hr class="m-seperator">
        </div>
    </div>
    <section class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <h4>
                    당신의 아이디어가 현실이 되는 곳, Moxie lab
                </h4>
                <h5>created by Paul Soh</h5>
            </div>
            <div class="col-md-6 col-xs-12 social-links">
                <h4>SNS</h4>
                <a class="fa fa-facebook-official fa-lg" href=""></a>
                <a class="fa fa-twitter-square fa-lg" href=""></a>
                <a class="fa fa-instagram fa-lg" href=""></a>
                <a class="fa fa-github-square fa-lg" href=""></a>
            </div>
        </div>
    </section>
</footer>
