{% load staticfiles %}
<header>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{%url 'home' %}" class="navbar-brand logo">moxie lab</a>
        </div>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{%url 'idea-list' %}">
                        Explore
                    </a>
                </li>
                <li>
                    <a class="hidden-sm" href="">
                        How it works
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{%url 'idea-create' %}">Start a campaign</a>
                </li>

            {% if request.user.is_authenticated %}
                <li>
                    <a href="{% url 'profile-dashboard' user.username %}">
                        {% if user.alias %}
                            {{ user.alias }}
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                        's ideas
                    </a>
                </li>
               <li>
                    <a href="{% url 'logout' %}">
                        Log out 
                    </a>
               </li>
            {% else %}
                <li>
                    <a href="" data-toggle="modal" data-target="#signupModal">Sign up</a>
                </li>
                <li>
                    <a href="" data-toggle="modal" data-target="#loginModal">Log in</a>
                </li>
                {% endif %}
            </ul>
        </div>
      </div>
    </nav>

<!-- Signup Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="SignupModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Social sign up</h4>
      </div>
      <div class="modal-body">
        <a href="{% url 'social:begin' backend='kakao'%}" class="btn btn-block btn-social btn-kakao">
            <img src="{% static "img/svg/kakaotalk.svg" %}" alt="kakao-login"/>Sign up with Kakao
            <div class="hover-effect"></div>
        </a>
        <a href="{% url 'social:begin' backend='facebook'%}" class="btn btn-block btn-social btn-facebook">
            <span class="fa fa-facebook"></span> Sign up with Facebook
        </a>
        <a href="{% url 'social:begin' backend='google'%}" class="btn btn-block btn-social btn-google">
            <span class="fa fa-google"></span> Sign up with Google
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Social Login</h4>
      </div>
      <div class="modal-body">
        <a href="{% url 'social:begin' backend='kakao'%}" class="btn btn-block btn-social btn-kakao">
            <img src="{% static "img/svg/kakaotalk.svg" %}" alt="kakao-login"/>Log in with Kakao
            <div class="hover-effect"></div>
        </a>
        <a href="{% url 'social:begin' backend='facebook'%}" class="btn btn-block btn-social btn-facebook">
            <span class="fa fa-facebook"></span>Log in with Facebook
        </a>
        <a href="{% url 'social:begin' backend='google'%}" class="btn btn-block btn-social btn-google">
            <span class="fa fa-google"></span> Log in with Google
        </a>
      </div>
    </div>
  </div>
</div>
</header>

