{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="page-header list-hero">
            <h1>Explore other great ideas</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-9">
        <div class="row">
            {% for idea in ideas %}
            <div class="col-xs-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/640x480" alt=""/>
                    <div class="caption">
                        <a href="{% url 'idea-detail' idea.id %}">
                            {{idea.title}}
                        </a>
                            <p>
                                <a href="#" class="btn btn-primary" role="button">Button</a> 
                                <a href="#" class="btn btn-default" role="button">Button</a>
                            </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <h2>Categories</h2>
        <p>Dummy category</p>
        <p>Dummy category</p>
        <p>Dummy category</p>
        <p>Dummy category</p>
        <p>Dummy category</p>
        <p>Dummy category</p>
        <p>Dummy category</p>
        <p>Dummy category</p>
        <p>Dummy category</p>
        <p>Dummy category</p>
        <p>Dummy category</p>
        <p>Dummy category</p>
        <p>Dummy category</p>
        <p>Dummy category</p>
        <p>Dummy category</p>
        <p>Dummy category</p>
        <p>Dummy category</p>
        <p>Dummy category</p>
        <p>Dummy category</p>
        <p>Dummy category</p>
        <p>Dummy category</p>
        <p>Dummy category</p>
        <p>Dummy category</p>
    </div>
</div>

{% endblock %}
