{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header list-hero">
                    <h1>Explore other great ideas</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-pills">
                            <li role="presentation"><a href="#">Trending</a></li>
                            <li role="presentation"><a href="#">Last chance</a></li>
                            <li role="presentation"><a href="#">Hall of fame</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    {% for idea in ideas %}
                    <div class="col-xs-6 col-md-4">
                        <a class="thumbnail-wrapper" href="{% url 'idea-detail' idea.custom_slug %}">
                        <div class="thumbnail">
                            <div class="thumbnail-image-wrapper">
                                <img class="detail-thumbnail" src="{{ idea.thumbnail_image.url }}" alt="{{idea.title}}"/>
                                <div class="thumbnail-image-label">
                                    {% if idea.is_past %}
                                        <span class="label label-finished">종료</span>
                                    {% else %}
                                        <span class="label label-ongoing">진행중</span>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="caption">
                                <p class="m-thumbnail-title">
                                    {{idea.title}}
                                </p>
                                <p class="m-thumbnail-title">
                                    Brought to you by {{idea.user.username }}
                                </p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{idea.get_current_progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{idea.get_current_progress}}%;">
                                        <span class="sr-only">{{idea.get_current_progress}}% Complete</span>
                                    </div>
                                </div>
                                <p>
                                    Funded by {{idea.get_current_funders}}
                                </p>
                                {% if idea.is_past %}
                                <p>
                                    종료됨({{idea.get_time_left}})
                                </p>
                                {% else %}
                                <p>
                                    Time left  {{idea.get_time_left}}
                                </p>
                                {% endif %}
                            </div>
                        </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <h2>Categories</h2>
                <p>Dummy category</p>
                <p>Dummy category</p>
                <p>Dummy category</p>
                <p>Dummy category</p>
                <p>Dummy category</p>
                <p>Dummy category</p>
                <p>Dummy category</p>
                <p>Dummy category</p>
                <p>Dummy category</p>
                <p>Dummy category</p>
                <p>Dummy category</p>
                <p>Dummy category</p>
                <p>Dummy category</p>
                <p>Dummy category</p>
                <p>Dummy category</p>
                <p>Dummy category</p>
                <p>Dummy category</p>
                <p>Dummy category</p>
                <p>Dummy category</p>
                <p>Dummy category</p>
                <p>Dummy category</p>
                <p>Dummy category</p>
                <p>Dummy category</p>
            </div>
        </div>

    </div>
</section>
{% endblock %}
